# online-judge common config

################################ 当前active环境 start ###############################
spring:
  profiles:
    active: dev
################################ 当前active环境 end #################################

############################# jetty config start #############################
server:
  port: 8080
  servlet:
    context-path: /
  jetty:
    connection-idle-timeout: 5000ms
    max-threads: 500
    min-threads: 30
############################# jetty config end ###############################

############################# spring config start #############################
---
spring:
  application:
    name: online-judge
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jackson:
    date-format: yyy-MM-dd HH:mm:ss
    time-zone: GMT+8
############################# spring config end ###############################

############################### mybatis-plus config start #################################
mybatis-plus:
  # 启动时是否检查MyBatis XML文件是否存在
  check-config-location: true
  # MyBatis原生配置
  configuration:
    # 字段名称下划线转驼峰命名
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      # 全局默认主键类型
      id-type: id_worker
      # 逻辑已删除值(默认为 1)
      logic-delete-value: 1
      # 逻辑未删除值(默认为 0)
      logic-not-delete-value: 0
  # mapper xml映射路径
  mapper-locations: classpath*:mapper/**/*Mapper.xml
################################ mybatis-plus config end ##################################

############################### datasource connector config start ################################
---
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      filter:
        slf4j:
          enabled: true
        stat:
          log-slow-sql: true
          merge-sql: true
          slow-sql-millis: 3000
        wall:
          config:
            delete-allow: true
            drop-table-allow: false
          enabled: true
      filters: stat,wall,slf4j
      initial-size: 10
      max-active: 100
      max-pool-prepared-statement-per-connection-size: 20
      max-wait: 60000
      min-evictable-idle-time-millis: 300000
      min-idle: 10
      pool-prepared-statements: true
      stat-view-servlet:
        enabled: true
        login-password: root
        login-username: 123123
        url-pattern: /druid/*
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
      time-between-eviction-runs-millis: 60000
      validation-query: SELECT 1
      validation-query-timeout: 60000
    type: com.alibaba.druid.pool.DruidDataSource
############################### datasource connector config end ################################

#################################### Swagger start #################################
# swagger配置
swagger:
  base:
    package: com.czeta.onlinejudge
  contact:
    email: 757569797@qq.com
    name: czeta
    url: ''
  description: 'online judge for acm'
  title: online-judge
  url: ''
  version: 0.1.0
#################################### Swagger end ###################################